// UTILITY -------------------------
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif;
}

a{
  text-decoration: none;
}

.w-100{
  width: 100%;
}
// ---------------------------------

// MIXIN ---------------------------
@mixin container {
  width: 1200px;
  margin: 0 auto;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin icon-box {
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  background: #E4E9F8;
  border-radius: 5px;
}
// ---------------------------------

// HEADER --------------------------
header{
  width: 100%;
  background: #F8F9FC;

  .header-container{
    @include container;

    .navbar{
      display: flex;
      justify-content: space-between;
      padding: 20px 0;

      &-left{
        img{
          height: 30px;
        }
      }

      &-center{
        display: flex;

        &-item{
          padding: 8px 18px 0 18px;

          a{
            color: #525D6C;
            font-size: 14PX;
            font-weight: bold;
          }

          i{
            margin-left: 3px;
            font-size: 12px;
          }
        }

        &-item a:hover{
          color: #2F55D4;
        }
      }

      &-right{
        .search-icon{
          position: relative;
          top: -12px;
          right: 5px;
          display: inline-block;
          color: #8492A6;
          padding-top: -20px;
          font-size: 18px;
          cursor: pointer;
        }

        .blue-icon{
          @include icon-box;
          position: relative;
          display: inline-block;
          margin-left: 7px;
          box-shadow: 0px 1px 5px rgba(47, 85, 212, 0.5);
          cursor: pointer;

          i{
            color: #2F55D4;
            position: absolute;
            @include center;
          }
        }

        .blue-icon:hover{
          background: #2F55D4;

          i{
            color: #fff;
          }
        }
      }
    }
  }
}
// ---------------------------------

// JUMBOTRON -----------------------
.jumbotron{
  width: 100%;
  background: #F8F9FC;
  position: relative;

  .settings{
    position: absolute;
    top: 60px;
    left: 0;
    font-size: 14px;
    border: 1px solid #E9E5EF;
    padding: 5px 10px 5px 0;
    border-radius: 0 70% 70% 0;
  }

  .jumbotron-container{
    @include container;

    &-top{
      display: flex;

      &-box{
        width: 50%;
        margin: 70px 0 110px 0;
      }

      .first-box{
        padding-top: 100px;

        div:first-child a{
          background: #E4E9F8;
          border-radius: 14px;
          padding: 5px 10px;
          font-size: 13px;
        }

        h2{
          margin: 20px 0 30px 0;
          font-size: 40px;
        }

        p{
          color: #8492A6;
          margin-bottom: 30px;
        }

        button{
          margin-right: 5px;
          padding: 10px 16px;
          font-size: 14px;
          font-weight: bold;
          border-radius: 5px;
          border: 1px solid #2F55D4;
          cursor: pointer;
        }

        button:first-of-type{
          color: #fff;
          background: #2F55D4;
          border: none;
        }

        button:last-of-type{
          color: #2F55D4;
          background: #fff;
        }

        div:last-child{
          font-size: 13px;
          color: #8492A6;
          margin-top: 15px;
        }
      }

      .second-box{
        text-align: right;

        img{
          width: 80%;
          margin-right: 40px;
        }
      }
    }

    &-bottom{
      height: 120px;
      text-align: center;

      img{
        width: 80px;
        margin: 50px 40px 0 40px;
      }
    }
  }
}

.jumbotron:first-of-type{
  border-bottom: 1px solid #E9E5EF;
}

.jumbotron:last-of-type{
  border-radius: 0 0 20% 20%;
}
// ---------------------------------

// MAIN ----------------------------
.main{
  @include container;

  &-top{

    .top{
      width: 630px;
      margin-top: 100px;

      h2{
        font-size: 40px;
        margin-bottom: 30px;
      }

      p{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 80px;
        color: #8492A6;
      }
    }

    .box-container{
      display: flex;
      justify-content: space-between;

      .box{
        padding: 20px;
        border: 1px solid #E9E5EF;
        border-radius: 7px;
        width: calc((100% / 4) - 34px);
        font-weight: bold;

        h3{
          color: #3C4858;
          font-size: 16px;
          margin-top: 20px;
        }

        p{
          color: #8492A6;
          font-size: 15px;
          margin: 20px 0;
        }

        .icon{
          @include icon-box;
          padding: 30px;
          position: relative;

          i{
            @include center;
            color: #2F55D4;
          }
        }

        .read-link{
          font-size: 12px;
        }
      }
    }
  }

  &-center{
    padding: 100px 0;

    &-first-box{
      text-align: center;

      .quickstart{
        font-weight: bold;
        padding-bottom: 20px;
      }

      p{
        color: #8492A6;
        font-weight: bold;
        width: 550px;
        margin: 0 auto;
        padding: 30px 0 30px 0;
      }

      .box{
        background: #3C4858;
        margin: 50px auto 10px auto;
        padding: 25px  20px 30px 20px;
        width: 860px;
        border-radius: 5px;

        nav{
          background: #4F5A69;
          padding: 2.5px 0;
          width: 820px;
          margin: 0 auto;
          border-radius: 5px;

          div{
            color: #fff;
            display: inline-block;
            border-radius: 2px;
            padding: 10px 83px;
          }

          div:hover{
            background: #3C4858;
          }
        }

        .bottom{
          color: #8492A6;
          text-align: left;
          font-size: 16px;
          margin-top: 10px;

          .green-text{
            color: #2ECA8B;
          }
        }

      }

      .organize{
        display: inline-block;
        margin-top: 20px;
        color: #8492A6;
        margin-right: 20px;
        font-size: 16px;
      }

      .work{
        display: inline-block;
        margin-top: 20px;
        color: #8492A6;
        margin-right: 520px;
        font-size: 16px;
      }

      i{
        color: #2ECA8B;
      }
    }

    &-second-box{

    }
  }

  &-bottom{

  }

}
// ---------------------------------
























//
