// BACKGROUNDS
$background-1: #F8F9FC;
$background-2: #E4E9EF;
$background-3: #E94649;
$background-4: #E4E9F8;
$background-5: #3C4858;
$background-6: #4F5A69;
$background-7: #202949;
$background-8: #27314F;

// TEXT COLORS
$text-color-1: #525D6C;
$text-color-2: #E94649;
$text-color-3: #8492A6;
$text-color-4: #fff;
$text-color-5: #3C4858;
$text-color-6: #2ECA8B;
$text-color-7: #ADB5DB;
$text-color-8: #E43F52;
$text-color-9: #F8F9FC;

// BORDER COLORS
$border-1: #E9E5EF;
$border-2: #E94649;
$border-3: #F8F9FC;
$border-4: #ADB5DB;

// SHADOWS
$shadow-1: rgba(233, 70, 73, 0.5);
$shadow-2: rgba(0, 0, 0, 0.3);
